:root{
  --black:#0a0c11;
  --white:#f0f3f6;
  --orange:#ff967d;
  --blue:#6caef2;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  display: flex;
  justify-content:center;
  gap: 2rem;
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
}

/* Mobile */
@media screen and (max-width: 800px) {
  #root{
    flex-direction: column;
  }
  .divider{
    display: none;
  }
}
