.aboutMe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;

}
.about-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 3rem;
    border: 2px solid #f0f3f6;
    border-radius: 4px;
}
.box-title{
    margin-bottom: 10px;
    font-size: 24px;
}
.box-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-style: italic;
}
.flag-img{
    width: 110px;
    height: 80px;
}
.about-img{
    width: 100px;
    height: 85px;
}
.Skills{
    display: flex;
    
}