.education{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

}
.uni-box{
    display: flex;
    align-items: flex-start;
    padding: 1rem;
    gap: 3rem;
    border: 2px solid #f0f3f6;
    border-radius: 4px;
    width: 100%;
}
.uni-title{
    margin-bottom: 10px;
    font-size: 24px;
}
.uni-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-style: italic;
}
img{
    height: 100px;
    width: 100px;
}
@media screen and (max-width: 425px) {
    .education{
        gap: 0px;
    }
    .uni-box{
        margin: 0.5rem;
        gap:10px;
        font-size: 12px;
    }
    .uni-title{
        font-size: 16px;
    }
}

